<%- include('partials/header'); -%>
<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-row ">
  <div class="logo">
    <img src="..//images/img1.png" alt="logo" />
  </div>
  <div class="info">
    <div>
      <h1 class="float-md-start mb-0 welcome">WELCOME TO FINANCE TRACKER</h1>
    </div>

    <main class="px-3">
      <h1 class="lead">
        ONE STOP SOLUTION FOR ALL YOUR FINANCE TRANSACTIONS
      </h1>
      <p class="lead">
        <a
          href="/register"
          class="buttons btn btn-lg btn-light fw-bold border-white bg-white"
          >REGISTER</a
        >
        <a
          href="/signin"
          class="buttons btn btn-lg btn-light fw-bold border-white bg-white"
          >SIGN IN</a
        >
      </p>
    </main>
  </div>
</div>
<p class="onestop">
  This website keeps track of all your financial transactions
</p>
<%- include('partials/footer'); -%>
