<%- include('partials/header'); -%>

<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
  <header class="mb-auto">
    <div>
      <h1 class="float-md-start mb-0 welcome">WELCOME TO FINANCE TRACKER</h1>
    </div>
  </header>

  <main class="px-3">
    <h1 class="onestop">
      ONE STOP SOLUTION FOR ALL YOUR FINANCE TRANSACTIONS.
    </h1>
    <p class="lead">
      This website keeps track of all your financial transactions.
    </p>
    <p class="lead">
      <a
        href="/register"
        class="btn btn-lg btn-light fw-bold border-white bg-white"
        >REGISTER</a
      >
      <a
        href="/signin"
        class="btn btn-lg btn-light fw-bold border-white bg-white"
        >SIGN IN</a
      >
    </p>
  </main>
</div>
<%- include('partials/footer'); -%>
