<%- include('partials/header'); -%>
<div class="home">
<h1> Welcome to Finance Tracker </h1>
<p> We store all your financial data...
  So Hop in to keep track !!
</p>
<a class='home-button' href="/register">Register</a>
<a class='home-button' href="/signin">Sign In</a>
</div>

<%- include('partials/footer'); -%>
