<%- include('partials/header'); -%>

<form class="register-form" action="/signin" method="post">
  <input type="text" name="username" placeholder="Username"><br>
  <input type="password" name="password" placeholder="Password"><br>
  <button class="buttons login-button btn btn-lg btn-light fw-bold border-white bg-white" type="submit" name="button">Sign In</button>
</form>

<%- include('partials/footer'); -%>
