@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

.container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
}
.navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
}
.navbar-brand{
    font-size: 20px;
    letter-spacing: 23px;
    color: black;
    /* text-align: center;
    margin-right: 100px; */
}

.navbar-nav  li a:hover {
    color: #1abc9c !important;
}

.footer-padding {
	padding-bottom: 60px;
}

.footer {
	position: absolute;
	text-align: center;
	bottom: 0;
	width: 100%;
	height: 60px;
	background-color: #1abc9c;
}

.footer p {
	margin-top: 25px;
	font-size: 12px;
  color: rgb(255, 235, 235);
}

.home{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.home-button{
    margin-top: 2vh;
    background-color:transparent;
    color:black;
    border: 0.5px solid black;
    border-radius: 5px;
    padding: 1rem;
    width: 10vw;
    text-align: center;

}

.home-button:hover{
    background-color: black;
    color: white;
    box-shadow: whitesmoke;
    text-decoration: none;
}

.register-form{
    background-color:ghostwhite;
    display: flex;
    flex-direction: column;
    height:50vh;
    padding: 5vh 5vw;
    margin: 10vh 0;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.register-form label{
    font-size: 2rem;
    font-weight: 400;
}

.register-form input{
    text-align: center;
    height: 5vh;
    width:20vw;
    border: 1px solid black;
    border-radius: 10px;
}

.register-button{
    margin-top: 2vh;
    background-color:transparent;
    color:black;
    border: 0.5px solid black;
    border-radius: 5px;
    padding: 1rem;

}

.register-button:hover{
    background-color: black;
    color: white;
    box-shadow: whitesmoke;
}
.login-form{
    background-color:ghostwhite;
    display: flex;
    flex-direction: column;
    height:50vh;
    padding: 5vh 5vw;
    margin: 10vh 0;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.login-form label{
    font-size: 2rem;
    font-weight: 400;
}

.login-form input{
    text-align: center;
    height: 5vh;
    width:20vw;
    border: 1px solid black;
    border-radius: 10px;
}

.login-button{
    margin-top: 2vh;
    background-color:transparent;
    color:black;
    border: 0.5px solid black;
    border-radius: 5px;
    padding: 1rem;

}

.login-button:hover{
    background-color: black;
    color: white;
    box-shadow: whitesmoke;
}

.welcome-button{
    background-color: white;
    color: black;
    padding: 1vh 2vw;
    border-radius: 12px;
    border: 0.5px solid black;
    margin-left: 3vw;
    }

.welcome-button:hover{
    background-color: black;
    color: white;
    box-shadow: whitesmoke;
    text-decoration: none;
}

.dropdown-toggle{
    background-color: white;
    color: black;
    padding: 1vh 2vw;
    border-radius: 12px;
    border: 0.5px solid black;
    position: relative;
    left:20vw;  
    top:3.5vh;
}

.welcome-logout{
    position: relative;
    top:6.5vh;
    left:75vw;
}
.welcome-logout:hover{
    
    background-color: red;
    color: white;
    box-shadow: whitesmoke;
}

.welcome-stock{
    padding: 5vh 2vw;
}
.welcome-title{
    font-size: 6rem;
    font-weight: 900;
}

#gain{
    font-weight: 600;
}

.welcome-table tr td{
    padding: 1vh 0;
    font-size: 2rem;
}

.welcome-main{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.welcome-date{
    color: rgb(179, 179, 179);
    font-size: 1.5rem;
}
.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }

  .b-example-divider {
    height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
  }

  .b-example-vr {
    flex-shrink: 0;
    width: 1.5rem;
    height: 100vh;
  }

  .bi {
    vertical-align: -.125em;
    fill: currentColor;
  }

  .nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
  }

  .nav-scroller .nav {
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
  }
  .welcome{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 10vh;
    font-weight: 800;


  }
.onestop{
    font-size: 5vh;
    /* font-weight: 800; */
}
.lead{
    font-size: 5vh;
    /* font-weight: 800; */
}
.actualhome{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}